<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myvoca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="201811197 어혜령"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyVoca"
        android:usesCleartextTraffic="true">
        <activity android:name=".check.StarCheckActivity"></activity>
        <activity android:name=".share.ShareVocaActivity" />
        <activity android:name=".share.ShareActivity"></activity>
        <activity android:name=".quiz.QuizPuzzleActivity" />
        <activity android:name=".quiz.QuizDictationActivity" />
        <activity android:name=".quiz.QuizListeningActivity" />
        <activity android:name=".quiz.QuizEssayActivity" />
        <activity android:name=".quiz.QuizMutlipleActivity" />
        <activity android:name=".study.DayStudyActivity" />
        <activity android:name=".study.StudyActivity" />
        <activity android:name=".quiz.QuizActivity" />
        <activity android:name=".dic.DicActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>